.new{
    color: white;
    font-size: 20px;
    float: left;
}
.new_c{
    color: white;
    font-size: 20px;
    float: right;
}
.rotate{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.ch{
    color: white;
    font-size: 25px;
    padding-left: 6vw;
    padding-top: 58px;
    width: 0vw;
    }
.cv{
    background-color: white;
    color: black;
    /* padding-top: 10vh; */
    margin-bottom: 3vh;
    margin-right: 2vw;
    margin-top: -14vh;   
   }
   .card-body{
       background-color: white;
   }